<%= form_tag signin_path do %>

    <label>User Name</label>
    <%= collection_select(:user, :name, User.all, :name, :name, prompt: "Please select your username from this dropdown") %>


    <label>Password</label>
    <%=  password_field_tag :password %>

    <input type ="submit" value="Sign In"%>

<% end %> 
<%= form_for signin_path  do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
  
    <%= f.label :password %>
    <%= f.password_field :password %>
  
    <%= f.submit "log in" %>
    Or <%= link_to(controller: 'users', action: 'new') { 'sign up' } %>
  <% end %> 