<p><strong>Name:</strong><%= @topic.name %></p>

    <%= link_to 'Edit topic', [:edit, @topic]%></p>

    <%= form_for @vote do |f| %>
    <%= f.hidden_field :user_id %><br />
    <%= f.hidden_field :topic_id %><br />
    <%= f.submit "Go on this vote" %>
    <% end %>


