<p><strong>Name:</strong><%= @topic.name %></p>

    <%= link_to 'Edit topic', [:edit, @topic]%></p>

    <%= form_for @vote do |f| %>
    <%= f.hidden_field :user_id %><br />
    <%= f.hidden_field :topic_id %><br />
    <%= f.label :comment %>
    <%= f.text_field :comment %>
    <%= label :opinion, "Agree", value: true %>
    <%= f.radio_button :opinion, true, :value => true%>
    <%= label :opinion, "Dissugree", value: false %>
    <%= f.radio_button :opinion, false, :value => false%>
    <%= f.submit "Vote" %>
    <% end %>


