
<% flash.each do |type, msg| %>
    <div>
      <%= msg %>
    </div>
  <% end %>

  <p><strong><%= @user.name%>'s Topics</p>


  <ul>
 <% @user_topics = []%>
       
  <%Topic.all.each do |n| %>

  <%if n.user_id == current_user.id%>
  <% @user_topics << n%>
  <% end%>

  <%end%>
  <%@user_topics %>

  <%@user_topics.each do |attr| %>

    
          <li> <%= link_to " #{attr.name}", topic_path(attr)%> </li>

     

  <% end %>

</ul>




   


<%= link_to "See Topics", topics_path %> 
<p><%= link_to "New Topic", new_topic_path %></p>