<p><strong>Name:</strong><%= @attraction.name %></p>


    <%= link_to 'Edit Attraction', [:edit, @attraction]%></p>

    <%= form_for @ride do |f| %>
    <%= f.hidden_field :user_id %><br />
    <%= f.hidden_field :attraction_id %><br />
    <%= f.submit "Go on this ride" %>
    <% end %>
